.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 110px;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}

.icon + .content,
.content + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    align-items: center;
}

// Button styles
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, .06);
    border-color:  rgba(22, 24, 35, 0.15);

    &:hover {
        border-color:  rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.05);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border: 4.5px solid var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgb(248, 50, 90), rgb(248, 28, 72), #FE2C55);
    }
}

.outline {
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    color: var(--primary);
    border-color: currentColor;
    min-width: 96px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}
