// Nav Menu
.wrapper {
  padding-bottom: 8px;
}

// Menu Item
.menu-item {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  align-items: center;
  padding: 10px 8px;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out 0s;
  color: var(--text-color);

  &.active {
    color: var(--primary);

    .icon-active {
      display: flex;
    }

    .icon {
      display: none;
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.icon,
.icon-active {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-active {
  display: none;
}

.title {
  margin-left: 12px;
}

.custom {
  color: var(--white);
  padding: 0px 8px;
  border-radius: 12px;
  background-color: var(--primary);
  font-size: 1.3rem;
  margin-left: 8px;
}
