.wrapper {
  border-top: 1px solid #e3e3e4;
  padding: 16px 0;
}

.title,
.more-btn {
  font-size: 1.4rem;
  line-height: 2rem;
}

.title {
  font-weight: 600;
  padding: 0 8px 8px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.more-btn {
  padding: 8px 8px 0 8px;
  color: var(--primary);
  cursor: pointer;
}
