.search, .search-result {
    width: 361px;
}

.search {
    position: relative;
    display: flex;
    min-width: 200px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: #1618230f;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-family: var(--font-family);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75)
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.2);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}

.clear-btn,
.loading-btn {
    position: absolute;
    font-size: 2rem;
    right: calc(var(--search-btn-width) + 18px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading-btn {
    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    font-size: 2rem;
    height: 100%;
    width: var(--search-btn-width);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.1);
    }
}
